{% extends "app/layout.html" %}
{% block content %}
<h2>О сервисе PigeonHost.ru.</h2>
Наш сайт призван предоставить пользователям нормальный качественный и в то же время простой сервис по размещению файлов в Сети.
<br><br>
Сервис PigeonHost.ru предоставляет вам возможность совершенно бесплатно размещать ваши файлы в интернете для других пользователей.
Наш сервис подойдёт вам для таких задач как: выложить картинки, изображения, скриншоты, фото или видео; отправить большие файлы; сохранить свои файлы в интернете.
<br><br>
В интернете существует огромная масса всевозможных файлообменных сервисов, но все они нацелены на выкачивание из пользователей денег: намеренно ограничивают скорость, показывают тонны рекламы, ограничивают максимальный размер файла, вынуждая разрезать большие файлы на части, настаивают на приобретении платных аккаунтов, проводят пользователей по десяткам промежуточных страниц, заставляют ждать некоторое время перед началом загрузки файлов.
<br><br>
На нашем сайте ничего такого нет. Всё честно: никаких искусственных ограничений, нет дополнительных окон с рекламой. Не требуется регистрации. Срок хранения файлов - неограничен. В дополнение ко всему, мы предоставляем прямые ссылки на файлы! И всё это - бесплатно. То есть - для людей.
{% endblock %}
