{% if user.is_authenticated %}
<form id="logoutForm" action="/logout/" method="post" class="navbar-right" style="margin: 0;">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">{{ user.username }}</span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" style="padding-right: 0;">Выйти</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'registration' %}">Регистрация</a></li>
    <li><a href="{% url 'login' %}" style="padding-right: 0;">Войти</a></li>
</ul>

{% endif %}
