{% extends "app/layout.html" %}

{% block content %}
<h1>Что такое хостинг, домен и как устроен интернет на понятном языке</h1><br>
<div style="    width: 560px;    margin: auto;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/v80A1i-82CE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<h1>Что такое хостинг и для чего он нужен – простыми словами</h1><br>
<div style="    width: 560px;    margin: auto;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2bBCSyvkA4M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

{% endblock %}